.active-slider-image {
  height: 70px;
  border-radius: 50%;
  border: 3px solid #fc6f03;
  cursor: pointer;
}

.slider-image {
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}
