.tab-item {
  width: 200px;
  padding-left: 60px;
  width: 300px;
  cursor: pointer;
}

.tab-text {
  font-size: 20px;
}

.active-tab {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #fc6f03;
  font-size: 20px;
  text-underline-offset: 10px;
}
